.c {

  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.front {
  background-image: url("../../Media/SteinerHouse.jpg");
}

.back {
  background-image: url("../../Media//frontSteiner.jpg");
}