#header{
    background-image: url(../../Media/veilpainting.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.99;
    height:55%
}

#header:hover {

    opacity: 1;
}



@font-face {
    font-family: anthrop;
    src: url("../../Media/anthrop.ttf");
  }
  
  div {
    font-family: myFirstFont;
  }

