
body{
  background-image: url(../src//Media/WallTest.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;

}
@font-face {
  font-family: anthrop;
  src: url(../src/Media/anthrop.ttf);
}
